:host {
  margin: 16px 16px 0;
  display: flex;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

img {
  margin: auto;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.outer-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.answer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.answer-item {
  flex-basis: 45%;
}

.image-container {
  display: flex;
  max-width: 100%;
}
